@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
    display: inline-flex;
    animation: marquee 55s linear infinite;
}

.swiper-pagination span {
  color: #9CA3AF; /* gris clair */
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.swiper-pagination .swiper-pagination-bullet-active {
  color: #7C3AED; /* violet */
  transform: scale(1.2);
}

@media (min-width: 1024px) {
  html, body, a, button, input, select, textarea, [role="button"], .cursor-pointer {
    cursor: none !important;
  }
}


