@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
    display: inline-flex;
    animation: marquee 55s linear infinite;
}

.swiper-pagination span {
  color: #9CA3AF; /* gris clair */
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.swiper-pagination .swiper-pagination-bullet-active {
  color: #7C3AED; /* violet */
  transform: scale(1.2);
}

@media (min-width: 1024px) {
  html, body, a, button, input, select, textarea, [role="button"], .cursor-pointer {
    cursor: none !important;
  }
}

.grain-overlay {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200%;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .4;
  visibility: visible;
  pointer-events: none;
  z-index: 300;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

.luxury-easing {
  transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}


